{% extends "carpool/base.html" %}
{% block content %}
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="id_username" class="form-label">Username</label>
    <input type="text" name="username" autofocus required id="id_username" class="form-control">
  </div>
  <div class="mb-3">
    <label for="id_password" class="form-label">Password</label>
    <input type="password" name="password" required id="id_password" class="form-control">
  </div>
  <button class="btn btn-primary" type="submit">Login</button>
</form>
{% endblock %}